label{
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px 10px 0px;
    color: blue;
}
input {
    padding: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
    width: 300px;
}
table th{
    border: 2px solid blue;
    padding: 0px 10px 0px 10px;
}
td{
    text-align: center;
    border: 2px solid blue;
    padding: 10px;
}
